{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maceteros</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body class="home">
    <div class="d-flex flex-column page-wrapper">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <!-- Logo as an image element on the left -->
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'img/Logo.png' %}" alt="Logo">
                </a>
                <!-- Space to center the elements -->
                <div class="navbar-center-space"></div>
                <!-- Collapsible navbar content -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'maceteros' %}">Maceteros</a>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tierra' %}">Tierra</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'semillas' %}">Semillas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'herramientas' %}">Herramientas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'donations' %}">Donaciones</a>
                        </li>
                    </ul>                
                </div>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal()"><i class="fas fa-times"></i></span>
                        <h2>Carrito</h2>
                        <div id="cart-items"></div>
                        <button onclick="clearCart()">Limpiar Carrito</button>
                    </div>
                </div>
                <div id="view-cart">
                    <button onclick="showCart()"><i class="fas fa-shopping-cart"></i></button>
                </div>
            </div>
        </nav>
        <br>
        <br>
        <section>
            <div class="container-fluid">
                <div class="row mt-4 mb-4">
                    <h1 class="text-center">Maceteros</h1>
                </div>
                <div class="row gx-0 gap-3 justify-content-center">
                    <div class="card product-card">
                        <div class="col-auto align-self-center">
                            <img src="{% static 'img/macetaVerde.jpg' %}" class="card-img-top img-fluid" alt="maceta">
                        </div>
                        <div class="col-auto card-body">
                            <h5 class="card-title">Maceta Verde Pequeña</h5>
                            <p class="card-text">$1.990</p>
                            <div class="row">
                                <button class="btn custom-btn" onclick="addToCart('Maceta Verde Pequeña', 1990)">Añadir al carro</button>
                            </div>
                        </div>
                    </div>
                    <div class="card product-card">
                        <div class="col-auto align-self-center">
                            <img src="{% static 'img/Macetero11LTS.jpg' %}" class="card-img-top img-fluid" alt="Macetero11LTS">
                        </div>
                        <div class="col-auto card-body">
                            <h5 class="card-title">Macetero 11LTS</h5>
                            <p class="card-text">$2.500</p>
                            <div class="row">
                                <button class="btn custom-btn" onclick="addToCart('Macetero 11LTS', 2500)">Añadir al carro</button>
                            </div>
                        </div>
                    </div>
                    <div class="card product-card">
                        <div class="col-auto align-self-center">
                            <img src="{% static 'img/Macetero20LTS.jpg' %}" class="card-img-top img-fluid" alt="Macetero20LTS">
                        </div>
                        <div class="col-auto card-body">
                            <h5 class="card-title">Macetero 20LTS</h5>
                            <p class="card-text">$6.000</p>
                            <div class="row">
                                <button class="btn custom-btn" onclick="addToCart('Macetero 20LTS', 6000)">Añadir al carro</button>
                            </div>
                        </div>
                    </div>
                    <div class="card product-card">
                        <div class="col-auto align-self-center">
                            <img src="{% static 'img/Macetero50LTS.jpg' %}" class="card-img-top img-fluid" alt="Macetero50LTS">
                        </div>
                        <div class="col-auto card-body">
                            <h5 class="card-title">Macetero 50LTS</h5>
                            <p class="card-text">$8.000</p>
                            <div class="row">
                                <button class="btn custom-btn" onclick="addToCart('Macetero 50LTS', 8000)">Añadir al carro</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container-fluid mt-4">
                <div class="row pt-4 ps-4 pe-4 pb-4 footer align-items-end">
                    <div class="col-auto">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3344.865086981644!2d-71.53575902523797!3d-33.03368467628833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689de64d74fd4af%3A0x8004f381e9055a38!2sDuoc%20UC%3A%20Sede%20Vi%C3%B1a%20Del%20Mar!5e0!3m2!1ses-419!2scl!4v1715383341631!5m2!1ses-419!2scl" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-auto">
                        <p>CONTACTO<br>
                            Celular: +56945439506<br>
                            Email: contacto@dedosverdes.cl<br>
                            Dirección: Estación Chorrillos 1453, Viña del Mar, Valparaíso
                        </p>
                    </div>       
                    <div class="col-auto ms-auto">
                        <div class="row flex-column">
                            <div class="col-auto mb-1 align-self-end">
                                <a href="https://www.instagram.com/tu_usuario/" target="_blank" rel="noopener noreferrer">
                                    <button class="btn btn-lg btn-floating" style="background-color: #e967ca; font-size: 24px; color: #ffffff">
                                        <i class="fa-brands fa-instagram"></i>
                                    </button>
                                </a>
                                <a href="https://wa.me/+56977064643" target="_blank" rel="noopener noreferrer">
                                    <button class="btn btn-lg btn-floating ms-1" style="background-color: #19dc08; font-size: 24px; color: #ffffff">
                                        <i class="fa-brands fa-whatsapp"></i>
                                    </button>
                                </a>
                            </div>
                            <div class="col-auto">©2024 Dedos Verdes</div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=TU_CLAVE_API&libraries=places"></script>
        <script src="{% static 'js/script2.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script>
            var swiper = new Swiper(".mySwiper", {
                rewind: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },
            });
        </script>
    </div>
</body>
</html>